Repository divanov11/mumbleapi, pull requests merged in 2021-04, with the labels that each got.

#43 loading data from json
  README.md
  article/migrations/0003_alter_article_title.py
  article/models.py
  articledata.json
  feeddata.json
Labels: documentation, models, status: Needs Review

#49 adding decorator to views needing users
  article/views.py
  feed/views.py
  users/views.py
Labels: Review: Needs Two, component: users, status: Needs Review

#50 created Discussion app
  README.md
  discussion/__init__.py
  discussion/admin.py
  discussion/apps.py
  discussion/migrations/0001_initial.py
  discussion/migrations/0002_remove_discussion_tags.py
  discussion/migrations/__init__.py
  discussion/models.py
  discussion/serializers.py
  discussion/tests.py
  discussion/urls.py
  discussion/views.py
  discussiondata.json
  mumblebackend/settings.py
  mumblebackend/urls.py
Labels: Review: Needs Two, component: discussion, enhancement, models, status: Needs Review

#52 User Email Verification System
  mumblebackend/settings.py
  users/migrations/0005_userprofile_email_verified.py
  users/models.py
  users/templates/email-template/email.html
  users/urls.py
  users/views.py
Labels: component: users, enhancement, status: Needs Review

#53 Heroku database setup and Auto migration on every release
  Procfile
  README.md
  discussion/views.py
  mumblebackend/settings.py
  requirements.txt
  users/views.py
Labels: bug, database, dependencies, documentation, enhancement, status: Needs Review

#57 [Update]: Contributing Guidelines, templates
  .github/pull_request_template.md
  Contributing.md
  README.md
Labels: Review: Needs 1, documentation, status: Needs Review
