Repository divanov11/mumbleapi, pull requests merged in 2021-05, with the labels that each got.

#64 Pagination for Feed (#21)
  feed/views.py
Labels: cleanup/optimization, component: feed

#62 fix #24 - edit mumble endpoint
  feed/urls.py
  feed/views.py
Labels: Review: Needs 2, component: feed, status: Needs Review

#65 Paginator
  article/views.py
  discussion/views.py
Labels: cleanup/optimization, component: articles, component: discussion

#58 Notifications for Articles
  .gitignore
  mumblebackend/settings.py
  mumblebackend/urls.py
  notification/__init__.py
  notification/admin.py
  notification/apps.py
  notification/migrations/0001_initial.py
  notification/migrations/__init__.py
  notification/models.py
  notification/serializers.py
  notification/signals.py
  notification/tests.py
  notification/urls.py
  notification/views.py
  users/views.py
Labels: Review: Needs 2, component: articles, component: notifications, models, status: Needs Review

#67 Creating Additional Notifications
  notification/models.py
  notification/signals.py
  notification/views.py
  users/views.py
Labels: Review: Needs 1, component: notifications, status: Needs Review

#71 fix: updated License to include Year + Name
  LICENSE
Labels: documentation, status: Needs Review

#69 simple tests for urls
  article/tests.py
  article/tests/__init__.py
  article/tests/test_models.py
  article/tests/test_urls.py
  article/tests/test_views.py
  article/urls.py
  discussion/urls.py
  mumblebackend/settings.py
  users/tests.py
Labels: component: articles

#74 Readme and contributing guidelines update
  .github/pull_request_template.md
  Contributing.md
  README.md
Labels: Review: Needs 1, dependencies, documentation, status: Needs Review

#75 Added 2 unit tests for admin user registration and login functionality
  README.md
  users/tests.py
Labels: Review: Needs 1, component: users, status: Needs Review

#81 [docs]: README and Reviewers secion
  README.md
  Reviewers.md
Labels: documentation

#99 Adding User Pagination
  article/views.py
  users/views.py
Labels: Review: Needs 1, component: users, enhancement, status: Needs Review

#100 Added API schema and documentation
  mumblebackend/settings.py
  mumblebackend/urls.py
  requirements.txt
Labels: documentation

#105 Upload Avatar Images Endpoint
  users/urls.py
  users/views.py
Labels: Review: Needs 2, component: users, status: Needs Review

#117 Fix #115
  feed/views.py
Labels: Review: Needs 2, component: feed, status: Needs Review

#130 setting the jwt secret key from os env
  mumblebackend/settings.py
Labels: Review: Needs 1, bug

#128 Adding foreign keys to notifications
  notification/migrations/0003_auto_20210516_0431.py
  notification/migrations/0004_remove_notification_content_id.py
  notification/models.py
  notification/serializers.py
  notification/signals.py
  users/views.py
Labels: Review: Needs 1, component: notifications, enhancement, status: Needs Review

#132 Added email based login feature
  mumblebackend/settings.py
  users/utils.py
Labels: enhancement, status: Needs Review

#137 fix #129 - duplicate username with different case sensitivity
  users/views.py
Labels: bug, component: users, status: Work in Progress

#133 added email address as part of logged in user profile
  users/serializers.py
  users/views.py
Labels: Review: Needs 1, cleanup/optimization, component: users, status: Needs Review

#134 Skills and Tags models implementation
  users/admin.py
  users/migrations/0002_auto_20210517_1422.py
  users/migrations/0003_alter_userprofile_interests.py
  users/migrations/0004_auto_20210517_1436.py
  users/models.py
Labels: Review: Needs 2, component: users, enhancement, models, status: Needs Review

#149 Remumble fixed
  feed/views.py
Labels: bug, component: feed

#152 Fixing order_by on User Ssearch
  users/views.py
Labels: Review: Needs 1, status: Needs Review

#159 #160 - Fixing the following endpoint and adding Test
  article/tests/test_models.py
  article/tests/test_urls.py
  users/tests/test_views.py
  users/views.py
Labels: status: Needs More Info, status: Needs Review

#163 161 - adding the ability to update a profile interests or skills
  users/tests/test_views.py
  users/urls.py
  users/views.py
Labels: Review: Needs 1, component: users, status: Needs Review

#165 164 - Setup Github actions to run Tests
  .github/workflows/python.yml
  mumblebackend/settings.py
Labels: Review: Needs 1, status: Needs Review
